@media only screen and (max-width : 480px) {
  .dnl-container {
    display: none;
  }

  .dnl-container-mobile {
    display: block;
    position: relative;
    height: 100%;
    padding: 30px;
  }

  .dnl-container-mobile img {
    width: 100%;
    margin-top: 50px;
  }

  .dnl-mb-bottom {
    padding: 30px 50px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .bg-cover {
    background-size: auto 478px;
    background-position: center 0;
  }

  .store-img {
    overflow: hidden;
  }

  .store-img img {
    width: 50%;
    margin-top: 0 !important;
    float: left;
  }
}